
STG_game/.vs/STG_game/v16/.suo
STG_game/.vs/STG_game/v16/Server/sqlite3/db.lock
STG_game/.vs/STG_game/v16/Server/sqlite3/storage.ide
STG_game/.vs/STG_game/v16/Server/sqlite3/storage.ide-shm
STG_game/.vs/STG_game/v16/Server/sqlite3/storage.ide-wal
